body{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: #000;
    text-align: center;
}
#cabecera{
    font-size: 20px;
}
#contendor{
    width: 70%;
    padding: 14em;
    color: pink;
    border-style: solid;
}
p{
    font-size: 30px;
}